<ion-popover-view class="popover-autoheight">
  <ion-content scroll="false">
    <div class="list">
      <a class="item" ng-click="showAddComment($event)">Adicionar Comentário</a>
       <a class="item" ng-show="hasNotes" ng-click="showAddNote($event)">Adicionar Nota</a>
      <a class="item" ng-show="isAgent" ng-click="openSetAssigneeModal()">Definir Responsável</a>
      <a class="item" ng-show="isAgent" ng-click="showStatusActionSheet()">Definir Status</a>
      <a class="item" ng-click="showTicketDetails()">Ver Detalhes</a>
      <a class="item" ng-show="isAgent" ng-click="closeTicket()" style="color: #D32F2F;">Encerrar Ticket</a>
    </div>
  </ion-content>
</ion-popover-view>
